@using WebUi.Extensions
@using nikstra.HtmlAttributeBuilder

@*
Long lasting mystery solved, MarkupString is auto-closing tags.
https://stackoverflow.com/a/68052032

I. e. non of the if statements that are trying to close and open tr tags will work. The whole MarkupString
must have balanced opening and closing tags.
*@

<div class="ns-calendar" @onclick="@(() => _showEntries = false)">
  <div class="calendar-head">
    <div class="calendar-month">
        <h3>@GetFormattedMonthName(SelectedDate.Month) @SelectedDate.Year</h3>
    </div>
    <div class="calendar-nav calendar-year">
        <button class="calendar-button-link" @onclick="GotoToday"><span>@Localizer[Today]</span></button>
    </div>
    <div class="calendar-nav calendar-prev">
        <button class="calendar-button-link" @onclick="GotoPrevious">
            @* Black Left-Pointing Pointer *@
            <span>&#x25C4; @GetFormattedMonthName(PreviousMonth.Month)</span>
        </button>
    </div>
    <div class="calendar-nav calendar-next">
        <button class="calendar-button-link" @onclick="GotoNext">
            @* Black Right-Pointing Pointer *@
            <span>@GetFormattedMonthName(NextMonth.Month) &#x25BA;</span>
        </button>
    </div>
  </div>
  <div class="calendar-body">
    <div class="calendar-week-head"></div>
    @foreach (var day in WeekDays)
    {
        <div class="calendar-week-head">@day.FirstCharToUpper()</div>
    }

    @foreach (var week in Weeks)
    {
        <div class="calendar-week-item">@week.WeekNumber</div>
        @foreach(var day in week?.Days)
        {
            <div class="@($"calendar-day-item {GetCssClass(day.Date)} {_todayPulse}")" @onclick="@(e => ShowDetails(day.Date, e))">
                @* <div class="calendar-day-head@((day.Holidays.Any() ? " holiday" : string.Empty ))"> *@
                <div class="@Css.Class("calendar-day-head").Class(day, d => d.Holiday)">
                    <div class="calendar-day-head-holiday normal-text">
                        @{ var holidayNames = day.GetHolidayLocalNames(); }
                        @* <ul class="calendar-holiday-list@(holidayNames.Length > 2 ? " calendar-holiday-list-indicator" : string.Empty)"> *@
                        <ul class="@Css.Class("calendar-holiday-list").Class(day, x => x.CalendarHolidayListIndicator)">
                            @foreach (var holidayName in holidayNames)
                            {
                                <li class="calendar-holiday-list">@holidayName</li>
                            }
                        </ul>
                    </div>
                    <div class="calendar-day-head-day large-text text-right">@day.DayNumber</div>
                </div>
                <NSCalendarEntriesComponent
                    Day="@day"
                    EntryLimit="@EntryLimit"
                    Localizer="@Localizer"
                    ShowEntries="@_showEntries"
                />
            </div>
        }
    }
  </div>
</div>
