@using System.Globalization
@using System.Linq
@using DataBinding.Interfaces
@using System.Threading

@inject ICalendarService CalendarService
@inject IHolidaysService HolidaysService

@*
Long lasting mystery solved, MarkupString is auto-closing tags.
https://stackoverflow.com/a/68052032

I. e. non of the if statements that are trying to close and open tr tags will work. The whole MarkupString
must have balanced opening and closing tags.
*@

<div class="nscal">
  <div class="nscal-head">
    <div class="nscal-month">
        <h3>@Thread.CurrentThread.CurrentCulture.DateTimeFormat.GetMonthName(SelectedDate.Month) @SelectedDate.Year</h3>
    </div>
    <div class="nscal-nav nscal-year">
        <button class="nscal-button-link" @onclick="GotoToday">Today</button>
    </div>
    <div class="nscal-nav nscal-prev"><button class="nscal-button-link" @onclick="GotoPrevious"><div class="triangle-left"></div> @Thread.CurrentThread.CurrentCulture.DateTimeFormat.GetMonthName(PreviousMonth.Month)</button></div>
    <div class="nscal-nav nscal-next"><button class="nscal-button-link" @onclick="GotoNext">@Thread.CurrentThread.CurrentCulture.DateTimeFormat.GetMonthName(NextMonth.Month) <div class="triangle-right"></div></button></div>
  </div>
  <div class="nscal-body">
    <div class="nscal-week-item"></div>
    @foreach (var day in WeekDays)
    {
        <div class="nscal-week-head">@day</div>
    }

    @foreach (var week in Weeks)
    {
        <div class="nscal-week-item">@week.WeekNumber</div>
        @foreach(var day in week?.Days)
        {
            <div class="@($"nscal-day-item {GetCssClass(day.Date)} {_todayPulse}")">
                <div class="nscal-day-head@((day.Holiday == null ? string.Empty : " holiday"))">
                    <div class="nscal-normal-text nscal-text-left">@day.Holiday?.LocalName</div>
                    <div class="nscal-large-text nscal-text-right">@day.DayNumber</div>
                </div>
                @{ var count = day.Entries.Count(); }
                @foreach (var entry in day.Entries.Take(EntryLimit))
                {
                    <div class="nscal-entry nscal-normal-text">@entry.Name</div>
                }
                @if(count > EntryLimit)
                {
                    <div class="nscal-entry nscal-normal-text">+ @(count - EntryLimit) more</div>
                }
            </div>
        }
    }
  </div>
</div>

@code {
    
    private const int EntryLimit = 3;

    [Parameter]
    public DateOnly SelectedDate
    {
        get => _selectedDate;
        set
        {
            PreviousMonth = value.AddMonths(-1);
            NextMonth = value.AddMonths(1);
            _selectedDate = value;
        }
    }
    private DateOnly _selectedDate = DateOnly.FromDateTime(DateTime.Now);
    public DateOnly PreviousMonth { get; set; }
    public DateOnly NextMonth { get; set; }
    
    private static System.Timers.Timer _timer;
    public string _todayPulse;
    private void RunPulseTodayAnimation()
    {
        if(_timer is not null)
        {
            _timer.Stop();
            _timer.Dispose();
            _timer = null;
        }

        _todayPulse = "pulse";
        _timer = new System.Timers.Timer(500);
        _timer.Elapsed += (sender, args) =>
        {
            _todayPulse = string.Empty;
            InvokeAsync(StateHasChanged);
        };
        _timer.AutoReset = true;
        _timer.Enabled = true;
    }
    private async Task GotoToday()
    {
        var now = DateOnly.FromDateTime(DateTime.Now);
        if(SelectedDate == now)
        {
            RunPulseTodayAnimation();
            return;
        }

        SelectedDate = now;
        await LoadCalendar();
    }

    private async Task GotoPrevious()
    {
        SelectedDate = PreviousMonth;
        await LoadCalendar();
    }
    private async Task GotoNext()
    {
        SelectedDate = NextMonth;
        await LoadCalendar();
    }

    private string GetCssClass(DateOnly date)
    {
        if(DateOnly.FromDateTime(DateTime.Today) == date)
        {
            return "today";
        }
        else if(SelectedDate.Month != date.Month)
        {
            return "other-month";
        }

        return string.Empty;
    }

    protected async override Task OnInitializedAsync()
    {
        await LoadCalendar();
        await base.OnInitializedAsync();
    }

    public async override Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        @* CurrentCount = CurrentCount ?? 1; *@
    }

    private async Task LoadCalendar()
    {
        var entries = (await CalendarService.GetEntriesAsync(SelectedDate))
            .ToLookup(e => DateOnly.FromDateTime(e.Start.DateTime));
        var holidays = await HolidaysService.GetPublicHolidays(SelectedDate.Year, "se");

        var startDate = new DateOnly(SelectedDate.Year, SelectedDate.Month, 1);
        Weeks = GetDaysWithEntries(startDate, entries, holidays);
    }

    public IEnumerable<Week> Weeks { get; set; } = Array.Empty<Week>();

    private IEnumerable<Week> GetDaysWithEntries(
        DateOnly startDate,
        ILookup<DateOnly, CalendarEntry> entries,
        IDictionary<DateOnly, PublicHolidayModel> holidays)
    {
        var culture = CultureInfo.CreateSpecificCulture("sv-SE");
        //var culture = CultureInfo.CreateSpecificCulture("en-US");

        Thread.CurrentThread.CurrentCulture = culture;
        Thread.CurrentThread.CurrentUICulture = culture;

        var firstDayOfWeek = culture.DateTimeFormat.FirstDayOfWeek;
        var firstDayInMonth = startDate;
        var calendarStartDay = -(7 + firstDayInMonth.DayOfWeek - firstDayOfWeek) % 7;

        var uiStartDay = firstDayInMonth.AddDays(calendarStartDay);

        var dayIndex = uiStartDay;
        while(dayIndex < firstDayInMonth.AddMonths(1))
        {
            var week = new Day[7];
            for(var i = 0; i < week.Length; i++)
            {
                week[i] = new Day
                {
                    DayNumber = dayIndex.Day,
                    Date = dayIndex,
                    Entries = entries[dayIndex],
                    Name = culture.DateTimeFormat.DayNames[(int)dayIndex.DayOfWeek],
                    Holiday = holidays.ContainsKey(dayIndex) ? holidays[dayIndex] : null
                };
                dayIndex = dayIndex.AddDays(1);
            }
            
            var weekNumber = culture.Calendar.GetWeekOfYear(
                week[0].Date.ToDateTime(TimeOnly.MaxValue),
                culture.DateTimeFormat.CalendarWeekRule,
                firstDayOfWeek);

            yield return new Week { Days = week, WeekNumber = weekNumber };
        }
    }

    public IEnumerable<string> WeekDays { get; set; } = GetWeekDays("sv-SE");
    private static IEnumerable<string> GetWeekDays(string cultureName)
    {
        var culture = CultureInfo.CreateSpecificCulture(cultureName);
        var formatInfo = culture.DateTimeFormat;
        var firstDayOfWeek = (int)formatInfo.FirstDayOfWeek;
        var firstDayOffset = 7 - firstDayOfWeek;

        var namesShifted = new string[formatInfo.DayNames.Length];
        Array.Copy(formatInfo.DayNames, firstDayOfWeek, namesShifted, 0, firstDayOffset);
        Array.Copy(formatInfo.DayNames, 0, namesShifted, firstDayOffset, firstDayOfWeek);

        return namesShifted;
    }
}
